/src/TestTask/.vs/TestTask/v15
/src/TestTask/TestTask.tests/bin/Debug
/src/TestTask/TestTask.tests/obj/Debug
/src/TestTask/TestTask/bin/Debug/netstandard2.0
/src/TestTask/TestTask/obj/Debug/netstandard2.0
/src/TestTask/TestTask/obj
/src/TestTask/packages